<template>
  <v-form v-model="valid">
    <v-text-field
      autofocus
      label="E-mail"
      v-model="email.value"
      :rules="email.rules"
      required
    ></v-text-field>
    <v-text-field
      label="Mot de passe"
      v-model="password.value"
      :rules="password.rules"
      type="password"
      required
      @keypress.enter="valid && validForm()"
    >
    </v-text-field>
    <!-- <v-text-field
      label="Confirmation mot de passe"
      v-model="password.confirm"
      :rules="[isSamePwd]"
      type="password"
      required
    >
    </v-text-field> -->
    <v-btn
      large
      :block="$vuetify.breakpoint.xsOnly"
      outlined
      color="success"
      class="mb-3"
      :disabled="!valid"
      @click="validForm"
      >{{ submitName }}</v-btn
    >
    <br />
    <v-btn text @click="switchMode">{{ newModeTexte }}</v-btn>
  </v-form>
</template>

<script lang="ts">
import Vue from "vue";
export default Vue.extend({
  props: {
    authType: String,
    authFunction: Function,
    switchMode: Function
  },
  data() {
    return {
      valid: true,
      email: {
        value: "",
        rules: [
          (v: string) => !!v || "Une adreese e-mail est nécessaire",
          (v: string) => /.+@.+\..+/.test(v) || "L'adresse n'est pas valide"
        ]
      },
      password: {
        value: "",
        confirm: "",
        display: false,
        rules: [
          (v: string) => v.length >= 8 || "Mot de passe trop petit (8 min)"
        ]
      },
      form: {}
    };
  },
  computed: {
    submitName(): string {
      return this.authType === "signin" ? "Connexion" : "S'inscrire";
    },
    newModeTexte(): string {
      return this.authType === "signin"
        ? "Créer un compte"
        : "J'ai dèjà un compte";
    }
  },
  methods: {
    validForm() {
      this.authFunction(this.email.value, this.password.value);
    }
    // isSamePwd(): boolean | string {
    //   if (this.password.value !== this.password.confirm)
    //     return "Le mot de passe et sa confirmation sont différent";
    //   return true;
    // }
  }
});
</script>
