<template>
  <v-container full-width fill-height pa-0>
    <v-row no-gutters align="center" justify="center">
      <v-col cols="12" sm="6" lg="4">
        <v-card
          :tile="$vuetify.breakpoint.xsOnly"
          class="pb-8"
          :class="{ 'full-login-card': $vuetify.breakpoint.xsOnly }"
        >
          <v-toolbar color="primary" class="white--text" flat>
            <v-toolbar-title class="headline">
              {{ toolbarTitle }}
            </v-toolbar-title>
          </v-toolbar>
          <v-progress-linear
            :active="loading"
            indeterminate
            color="accent"
          ></v-progress-linear>

          <v-alert
            dark
            tile
            texte
            left
            color-border
            dismissible
            :value="!!alert.message"
            :color="alert.color"
            class="body-4"
          >
            {{ alert.message }}
          </v-alert>

          <v-card-text class="px-8 text-center">
            <AuthForm
              :authType="authType"
              :authFunction="authFunction"
              :switchMode="toggleAuthType"
            />
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import Vue from "vue";
import AuthForm from "./AuthForm.vue";
export default Vue.extend({
  data() {
    return {
      loading: false,
      alert: {
        color: "",
        message: ""
      },
      authType: "signin"
    };
  },
  computed: {
    authFunction(): Function {
      return this.authType === "signin"
        ? this.connectWithEmail
        : this.registerUserWithEmail;
    },
    toolbarTitle(): string {
      return this.authType === "signin" ? "Connexion" : "Inscription";
    }
  },
  methods: {
    async registerUserWithEmail(email: string, password: string) {
      try {
        this.loading = true;
        await this.$store.dispatch("auth/register", { email, password });
        this.alert.message = "Inscription validé";
        this.alert.color = "success";
        this.$router.push("/dashboard");
      } catch (err) {
        this.alert.message = err.message;
        this.alert.color = "warning";
      } finally {
        this.loading = false;
      }
    },
    async connectWithEmail(email: string, password: string) {
      try {
        this.loading = true;
        await this.$store.dispatch("auth/connectWithEmail", {
          email,
          password
        });
        this.alert.message = "Connexion réussie";
        this.alert.color = "success";
        this.$router.push("/dashboard");
      } catch (err) {
        this.alert.message = err.message;
        this.alert.color = "warning";
      } finally {
        this.loading = false;
      }
    },
    toggleAuthType(): void {
      this.authType = this.authType === "signin" ? "connect" : "signin";
    }
  },
  components: {
    AuthForm
  }
});
</script>

<style lang="scss" scoped>
.full-login-card {
  height: 100vh;
}
</style>
